
/*STATS*/

.reports-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
   padding-left: 2em;
    
}

.title-section {
    display:flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 1em;
    font-size: xx-large;
    font-weight: 600;  
    width: auto;
}

.insights-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 3.5em;
}

.insights-row-course {
    width: 90%;
    margin-left: 0
}

.insights-table {
    width: 100%;
    margin-left: 3.5em;
    margin-top: 1em;
}

.small-text-link {
    font-size: small;
    margin-left: 3em;
}

.stats-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 1em;

}

.table-headings {
    font-weight: 800;
}

table {
    margin-top: 2em;
    text-align: left;
    border: 1px lightblue solid;
    width: 100%;
    border-radius: 2em;
    padding: 1em;
    border-spacing: 0 10px;
    font-size: small; 
    margin-bottom: 2em;
}

tr {
    width: 100%
}


.stat-article {
    background-color: whitesmoke;
    border: gray 3px solid;
    height: auto;
    border-radius: 1em;
    text-align: center;
}

.round-chart {
    width: 30%;
   
}

.bar-chart {
    width: 50%;
   
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
    
}