
/*STATS*/

.reports-container {
    width: 100%;
    height: auto;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
   padding-left: 2em;
    
}

.title-section {
    display:flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 1em;
    font-size: xx-large;
    font-weight: 600;  
    width: 100%;
}

.stats-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 1em;
}


.insights-row {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 3.5em;
    
}

.insights-table {
    width: 100%;
    margin-left: 3.5em;
}

table {
    margin-top: 2em;
    text-align: left;
    border: 1px lightblue solid;
    width: 100%;
    border-radius: 2em;
    padding: 1em;
    /* border-collapse: separate; */
    border-spacing: 0 10px;
    font-size: small; 
}

tr {
    width: 100%
}


.table-headings {
    font-weight: 800;
}

.stat-article {
    background-color: whitesmoke;
    border: gray 3px solid;
    height: auto;
    border-radius: 1em;
    text-align: center;
}

.round-chart {
    width: 28%;
   
}

.bar-chart {
    width: 50%;
   
}