.main-delete-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;

}

.confirm-container {
    display: flex;
    flex-direction: column;
    width: 60vw;
    justify-content: center;
    align-items: center;
    border: 3px solid darkgray;
    border-radius: 3em;
}

.delete-notes-button {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: #D43753;
    text-decoration: none;
    border: none;
    border-radius: 3em;
    color: white;
    font-weight: bold;
    padding: .5em;
}

.return-button {
    background-color: lightskyblue;
    text-decoration: none;
    padding: .5em;
    border-radius:1em;
    color:white;
    font-weight: bold;
    border: none;
}

.note-text {
    border: 1px darkgray solid;
    padding: 2em;
    width: 43%;
}




.flower-form-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5em;
    
}

.flower-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    background-color: white;
    border-radius: 5em;
    padding: 2em;

}

form {
    width: 50vw;
}

textarea {
    height: 3em;
}
.flower-add-button {
    background-color: olivedrab;
    text-decoration: none;
    padding: .5em;
    border-radius:1em;
    color:white;
    font-weight: bold;
    border: none;
    margin-bottom: 1em;
}