.App {
  text-align: center;
}


/* GrowPath CSS begins */

.auth-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.auth-section {
  height: 100vh
}

.auth-section-logo {

  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
}

.auth-section-form{
  background-color: whitesmoke;
  display: flex;
  width: 60vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.auth-input {
  height: 40px;
  width: 60%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px darkgray solid;
  text-align: center;

}

.nav-bar {
  height: 25vh;
  text-align: center;
}

.App-logo {
  width: 25vw;
}
