
.nav-menu{
    
    height: 15vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}



.btnLogout {
    height: 5vh;
    margin-right: 2%
}

.row {
    margin-left: 0;
    margin-right: 0;
  }
