
Button {
    cursor: grabbing;
}

.nav-menu{
    
    height: 14vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.left-nav {
    display: flex;
    flex-direction: row;
    font-weight:700;
    align-items: center;
    width: 33vw;
}

.middle-nav {
    width: 33vw;
    text-align: center;
}

.right-nav {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    align-items: center;
    width: 33vw;
    justify-content: right;
}

.header-text {
    color: olivedrab;
    text-decoration: none;
    font-size: x-large;
   
}
.profile-image {
    border-radius: 100%;
    margin-left: 1em;
    margin-right: 1em;
}



.btnLogout {
    height: 5vh;
    margin-right: 2%;
    margin-left: 2%;
    border: none;
    background-color: olivedrab;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
   
   
}

.row {
    margin-left: 0;
    margin-right: 0;
  }

  button:not([disabled]) {
    cursor:pointer;
}

.font-light {
    font-weight: 500;
}
