
Button {
    cursor: grabbing;
}

.nav-menu{
    
    height: 14vh;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-nav {
    display: flex;
    flex-direction: row;
    font-weight:700;
    align-items: center;
}

.right-nav {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    align-items: center;
    width: 50vw;
    justify-content: right;
}

.header-text {
    color: olivedrab;
    text-decoration: none;
    font-size: x-large;
    /* padding-left: 1em; */
}
.profile-image {
    border-radius: 100%;
    /* border: salmon 4px solid; */
    margin-left: 1em;
    margin-right: 1em;
}

.logo-nav-image {
    
}

.btnLogout {
    height: 5vh;
    margin-right: 2%;
    margin-left: 2%;
    border: none;
    background-color: olivedrab;
    padding: 1em;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
   
   
}

.row {
    margin-left: 0;
    margin-right: 0;
  }

  button:not([disabled]) {
    cursor:pointer;
}

