


.course-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight:light;
    background-color: white;
    width: 30vw;
    margin-bottom: 20px;
    height: 11vh;
    border-radius: 3.5em;
}


.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-link {
    background-color: lightblue;
    font-size:small;
    padding: 6px;
    margin-left: 5px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
}