


.course-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-weight:light;
    background-color: white;
    width: 30vw;
    margin-bottom: 20px;
    height: 8vh;
    border-radius: 3.5em;
}


.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

