*{
   font-weight: lighter;
}
.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.garden-button {
    background-color: olivedrab;
    color: white;
    text-decoration: none;
    padding: 1em;
    border-radius: 2em;
    font-weight: 800;
}

.table-headings {
    font-weight: bold;
    background-color: lightblue;
}
.main-course-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100vw;
}

.column-div {
    width: 30vw;
    height: auto;
    padding-left: 2em;
    /* margin-bottom: 2em; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    
}


.table-section {
    width: 30vw;
}

.garden-section-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 25vw;
    
}

.garden-container {
 width: 100%;
 background-color: rgb(129, 160, 68); 
 text-align: left;
 border-radius: 4em;
 color: white;
 padding: .5em;
 margin-top: 1em;
}


table {
    margin-top: 2em;
    text-align: left;
    border: 1px lightblue solid;
    width: 100%;
    border-radius: 2em;
    padding: 1em;
    /* border-collapse: separate; */
    border-spacing: 0 10px;
    font-size: small; 
   
}

tr :visited {
    color: blue
}


th {
    text-align: left;
}

tr:nth-child(even) {
    background-color: white; 
   
  }

.button-link {
    background-color: lightblue;
    font-size:small;
    padding: 3px;
    margin-left: 5px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    text-align: center;
}

.light-heading {
    font-weight: lighter;
}


.report-list-container {
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* .reviews-container {
    width: 98%;
    background-color: white;
    height: 40vh
} */

/* .row-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90vw;
} */
/* .section-1-container {
    width: 50vw;
    text-align: center;
}

.section-2-container {
    width: 20vw;
    text-align: left;
} */


/* tr :not(:visited) {
    color: black
} */