*{
   font-weight: lighter;
}
.heading {
    width: 100vw;
    text-align: center;
    font-weight: bold;
}

.table-headings {
    font-weight: bold;
    background-color: lightblue;
}
.main-container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.section-1-container {
    width: 40vw;
    text-align: center;
}

.section-2-container {
    width: 20vw;
    text-align: center;
}

.section-3-container{
    width: 20vw;
    text-align: center;
}

.garden-container {
 width: 100%;
 background-color: rgb(129, 160, 68); 
 text-align: center;
 border-radius: 4em;
 color: white;
 padding: .5em;
}

.reviews-container {
    width: 98%;
    background-color: white;
    height: 40vh
}

table {
   text-align: left;
    border: 1px lightblue solid;
    width: 100%;
    border-radius: 2em;
    padding: 1em;
    /* border-collapse: separate; */
    border-spacing: 0 10px;
    font-size: small;
   
   
}

tr :visited {
    color: blue
}

/* tr :not(:visited) {
    color: black
} */

th {
    text-align: left;
}

tr:nth-child(even) {
    background-color: white; 
   
  }

.button-link {
    background-color: lightblue;
    font-size:small;
    padding: 3px;
    margin-left: 5px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    text-align: center;
}

.light-heading {
    font-weight: lighter;
}
