

.main-student-container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-top: 1em;
}

.goals-container {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.goal-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 35vw;
    margin-bottom: 1em;
    height: 9vh;
    border-radius: 3em;
}

.goal-card{
    text-decoration: none;
    font-size:medium;
    
}

.add-goal-button {
    background-color: #D43753;
    text-decoration: none;
    padding: .5em;
    border-radius:1em;
    color:white;
    font-weight: bold;
    margin-bottom: 2em;
  
}


p.subheader {
    font-size: small;
    margin-top: 0em;
    margin-bottom: 2em;
}
