.section-1-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goal-button {
    background-color: #D43753;
    text-decoration: none;
    padding: .5em;
    border-radius:1em;
    color:white;
    font-weight: bold;
    
}

.goal-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    text-decoration: none;
    width: 30vw;
    margin-bottom: 1em;
    height: 9vh;
    border-radius: 3em;

}

p.subheader {
    font-size: small;
    margin-top: 0em;
    margin-bottom: 2em;
}

